.placeimg {
	&-page {
		height: 100vh;
	}
	&-form {
		width: 750px;
		&-btn {
			width: 100%;
		}
	}
	&-img {
		z-index: -1;
		border-radius: 10px;
		min-width: 100px;
		max-width: 400px;
		min-height: 75px;
		max-height: 300px;
	}
}