.placeimg {
	&-page {
		height: 100vh;
	}
	&-form {
		width: 750px;
		&-handler {
			margin-top: -15px;
			.ant-form-item-control-input-content {
				display: flex;
				justify-content: space-between;
			}
		}
		&-btn {
			width: 45%;
		}
	}
	&-img {
		max-width: 200px;
		max-height: 200px;
	}
}